{{#link-to 'meetup' meetup.id}}
  <div class="well meetupCard">
    <div class="meetupTitleText">
      <h3>{{meetup.name}}</h3>
    </div>
    <img class="meetupPic smallImage" src={{meetup.image}}>
  </div>
{{/link-to}}
