<div class="container">
  <div class="row">
    {{#each model as |meetup|}}
      <div class="col-sm-4 gridCard">
        {{meetup-tile class="meetupCard" meetup=meetup}}
      </div>
    {{/each}}
  </div>
</div>

{{add-meetup add="add"}}
