{{meetup-details meetup=model.meetup}}
<div class="wrapper">
  <button class="btn btn-primary btn-lg btn-outline" {{action "addToMyMeetups" model.meetup}}>Add to myMeetups</button>
</div>
{{review-list meetup=model.meetup}}
{{new-review meetup=model.meetup save2="save3"}}
